// common css start
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}


.hed {
    font-size: 24px;
    line-height: 24px;
    color: #353535;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

.hed2 {
    font-size: 16px;
    line-height: 24px;
    color: #353535;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}


// common css end

// header start
header {

    // topbar start
    .topbar {
        padding: 10px 0;
        background-color: #0872b9;

        p {
            font-size: 14px;
            color: #e7e7e7;
        }

        ul {
            li {
                a {
                    color: #e7e7e7;
                    font-size: 14px;
                    margin-left: 10px;

                    &:hover {
                        color: #353535;
                    }
                }
            }
        }
    }

    // topbar end

    // navbar start
    nav {
        padding: 20px 0 !important;

        ul {
            li {
                a {
                    font-size: 14px !important;
                    // line-height: 24px;
                    color: #353535 !important;

                    &:hover {
                        color: #0872b9 !important;
                    }
                }
            }
        }
    }

    .navbar-light .navbar-nav .active>.nav-link {
        color: #0872b9 !important;
    }

    // navbar end
}

// header end

// <!-- banner start -->
.banner {
    padding: 86px 0;
    background: url(../images/banner.jpg);
}

// <!-- banner end -->

// <!-- about start -->
.about {}

// <!-- about end -->

// <!-- services start -->
.services {}

// <!-- services end -->

// <!-- portfolio start -->
.portfolio {}

// <!-- portfolio end -->

// <!-- team start -->
.team {}

// <!-- team end -->

// <!-- testimonial start -->
.testimonial {}

// <!-- testimonial end -->

// <!-- info start -->
.info {}

// <!-- info end -->

// footer start
footer {}

// footer end